<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">Stisla</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">St</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Trang web</li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown"
          ><i class="fas fa-fire"></i><span>Dashboard</span></a
        >
        <ul class="dropdown-menu">
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" routerLink="/">General Dashboard</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['settings']"
          ><i class="fas fa-sliders-h"></i> <span>Thông tin website</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['blogs']"
          ><i class="fas fa-quran"></i> <span>Blogs</span></a
        >
      </li>
      <li class="menu-header">Quản lý khách hàng</li>
      <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Layout</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="layout-default.html">Default Layout</a></li>
              <li><a class="nav-link" href="layout-transparent.html">Transparent Sidebar</a></li>
              <li><a class="nav-link" href="layout-top-navigation.html">Top Navigation</a></li>
            </ul>
          </li> -->
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['customers']"
          ><i class="fas fa-users"></i> <span>Khách hàng</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['orders']"
          ><i class="fas fa-file-alt"></i> <span>Đơn đặt hàng</span></a
        >
      </li>
      <li class="menu-header">Quản lý sản phẩm</li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['providers']"
          ><i class="fas fa-copyright"></i> <span>Nhà cung cấp</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['categories']"
          ><i class="fas fa-book"></i> <span>Loại sản phẩm</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['products']"
          ><i class="fas fa-boxes"></i><span>Sản phẩm</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['product-details']"
          ><i class="fas fa-box-open"></i> <span>Chi tiết sản phẩm</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['receipts']"
          ><i class="fas fa-receipt"></i> <span>Nhập hàng</span></a
        >
      </li>
      <li class="menu-header">Lưu trữ</li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['images']"
          ><i class="far fa-images"></i><span>Hình ảnh</span></a
        >
      </li>
    </ul>

    <!-- <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a
        href="https://getstisla.com/docs"
        class="btn btn-primary btn-lg btn-block btn-icon-split"
      >
        <i class="fas fa-rocket"></i> Documentation
      </a>
    </div> -->
  </aside>
</div>
