<div
  class="hero-wrap hero-bread"
  style="background-image: url('assets/images/bg_6.jpg')"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">Home</a></span>
          <span>Shop</span>
        </p>
        <h1 class="mb-0 bread">Shop</h1>
      </div>
    </div>
  </div>
</div>
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="search" class="search-result bg-gray">
          <h2>Kết quả tìm kiếm cho "{{ search }}"</h2>
          <p>{{ totalProducts }} sản phẩm</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="category-sidebar">
          <div class="sidebar-box-2">
            <h2 class="heading">Categories</h2>
            <div class="fancy-collapse-panel">
              <div
              class="panel-group"
              [ngClass]="!selectedCategory?.id ? 'active' : '' "
            >
              <div class="panel panel-default">
                <div class="cate-title d-flex justify-content-between">
                  <div class="panel-title">
                    <a
                      href=""
                      (click)="selectedCategoryChange($event, undefined)"
                      >Tất cả
                    </a>
                  </div>
                </div>
              </div>
            </div>
              <div
                *ngFor="let cate of categories"
                class="panel-group"
                [ngClass]=" cate.id == selectedCategory?.id ? 'active' : '' "
              >
                <div class="panel panel-default">
                  <div class="cate-title d-flex justify-content-between">
                    <div class="panel-title">
                      <a
                        href=""
                        (click)="selectedCategoryChange($event, cate)"
                        >{{ cate.name }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="widget price-range w-100 mb-3">
            <h4 class="widget-header">Khoảng giá</h4>
            <div class="block">
              <span>
                {{
                  (rangeValues[0] | currency: "VND") +
                    " - " +
                    (rangeValues[1] | currency: "VND")
                }}
              </span>
              <p-slider
                (onSlideEnd)="loadNewData()"
                [step]="10000"
                [min]="0"
                [max]="maxPrice"
                [(ngModel)]="rangeValues"
                [range]="true"
              ></p-slider>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <p-dataView
            [totalRecords]="totalProducts"
            [lazy]="true"
            (onLazyLoad)="loadProducts($event)"
            #dv
            [value]="products"
            [paginator]="true"
            [rows]="9"
            filterBy="name"
            layout="grid"
            emptyMessage="Không có sản phẩm nào phù hợp"
          >
            <ng-template pTemplate="header">
              <div class="d-flex justify-content-between">
                <p-dropdown
                  placeholder="Sắp xếp"
                  [options]="sortOrder"
                  [(ngModel)]="selectedOrder"
                  appendTo="body"
                  optionLabel="display"
                  [showClear]="true"
                >
                </p-dropdown>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </div>
            </ng-template>
            <ng-template let-product pTemplate="listItem">
              <div
                style="max-height: 25vh"
                class="col-lg-4 py-3 align-self-center d-flex"
              >
                <p-image
                  [src]="getFilePath(product.default_image.file_path)"
                  imageClass="w-100 h-100 of-cover"
                  styleClass="w-100 h-100"
                  alt=""
                  [preview]="true"
                ></p-image>
              </div>
              <div style="max-height: 25vh" class="col-lg-8 py-3">
                <div class="row h-100">
                  <div
                    class="col-lg-6 col-md-10 h-100"
                    style="overflow: hidden"
                  >
                    <div class="ad-listing-content">
                      <div>
                        <a
                          [routerLink]="['/category', product.id]"
                          class="font-weight-bold"
                        >
                          {{ product.name }}
                        </a>
                      </div>
                      <ul class="list-inline mt-2 mb-3">
                        <li class="list-inline-item">
                          <a
                            class="of-ellipsis"
                            (click)="
                              selectedCategoryChange(
                                undefined,
                                product.category
                              )
                            "
                          >
                            <i class="fa fa-folder-open"></i>
                            {{ product.category?.name }}</a
                          >
                        </li>
                        <li class="list-inline-item">
                          <a style="cursor: default"
                            ><i class="fa fa-calendar"></i>
                            {{
                              product.updated_at ?? product.created_at
                                | date: "dd/MM/yyyy"
                            }}
                          </a>
                        </li>
                      </ul>
                      <div class="product-meta">
                        <strong
                          *ngIf="product.quantity > 0"
                          class="text-success"
                          >Còn hàng</strong
                        >
                        <strong
                          *ngIf="product.quantity <= 0"
                          class="text-danger"
                          >Hết hàng</strong
                        >
                      </div>
                      <div
                        [innerHTML]="getSafeHTML(product.description)"
                        class="pr-5 q-container"
                      ></div>
                    </div>
                  </div>
                  <div class="col-lg-6 align-self-center">
                    <div class="product-ratings float-lg-right pb-3">
                      <ul class="list-inline mb-3">
                        <li class="list-inline-item selected">
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item selected">
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item selected">
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item selected">
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="fa fa-star"></i>
                        </li>
                      </ul>
                      <button
                        pButton
                        class="p-button-sm"
                        icon="pi pi-shopping-cart"
                        (click)="showAddCartDialog(product)"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
              <div class="col-sm-12 my-1 col-lg-4 col-md-6">
                <app-product-box
                  [value]="product"
                  (addCartClick)="showAddCartDialog($event)"
                  (categoryChange)="selectedCategoryChange(undefined, $event)"
                >
                </app-product-box>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <p-dialog
    [draggable]="true"
    [resizable]="true"
    [maximizable]="true"
    appendTo="body"
    [header]="'Thông tin sản phẩm'"
    [(visible)]="displayAddCartDialog"
    styleClass="p-fluid"
    [modal]="true"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '50vw' }"
    [dismissableMask]="true"
  >
    <app-product-info *ngIf="selectedProduct" [(value)]="selectedProduct">
    </app-product-info>
  </p-dialog>
</section>
