app-blog img {
  display: block;
  max-width: 100%;
  
}
input.ng-invalid.ng-touched {
    border:1px solid red !important;
}
a {
  cursor: pointer;
}
.text p {
  margin: 0px;
  padding: 0px;
}

.of-cover {
  object-fit: cover;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a.active {
  color: var(--primary-color);
}

.user-dashboard-menu li {
  margin-bottom: 5px;
}

.user-dashboard-menu li.active a {
  background: #5672f9;
  color: #fff;
}

.user-dashboard-menu li.active a:hover {
  color: #fff;
}

.user-dashboard-menu li a {
  padding: 10px;
  font-size: 15px;
  display: block;
  font-weight: 600;
  color: #555;
}

.user-dashboard-menu li a:hover {
  color: #5672f9;
}

.user-dashboard-menu li a:hover span {
  background: #5672f9;
  color: #fff;
}

.user-dashboard-menu li a i {
  margin-right: 5px;
}

.user-dashboard-menu li a span {
  float: right;
  background: #f4f7f9;
  float: right;
  font-size: 10px;
  border-radius: 8px;
  padding: 3px 8px;
  color: #84919b;
}

.user-dashboard-profile {
  text-align: center;
}

.user-dashboard-profile .profile-thumb img {
  width: 130px;
  height: auto;
  border: 5px solid #f4f7f9;
}

.user-dashboard-profile h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.user-dashboard-profile .member-time {
  color: #888;
  font-size: 12px;
  margin-bottom: 3px;
}

.user-dashboard-profile .btn-contact {
  background: #1fca6b;
}

.user-dashboard-profile .btn-offer {
  background: #373c4d;
}

.widget.user {
  padding-top: 50px;
}

.widget.user .image img {
  width: 157px;
  height: 157px;
  border-radius: 100%;
  border: 7px solid #dedede;
}

.widget.user h5 {
  font-size: 20px;
  margin-top: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.widget .welcome-message h2 {
  font-size: 30px;
  line-height: 54px;
  letter-spacing: 0.05em;
}

.widget .welcome-message p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  color: #848484;
}

.widget.personal-info .form-group,
.widget.change-password .form-group,
.widget.change-email .form-group {
  margin-bottom: 25px;
}

.widget.personal-info .form-group i,
.widget.change-password .form-group i,
.widget.change-email .form-group i {
  color: white;
  background: #5672f9;
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 15px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .widget.personal-info .form-group i,
  .widget.change-password .form-group i,
  .widget.change-email .form-group i {
    margin-bottom: 20px;
  }
}

.widget.personal-info .form-check,
.widget.change-password .form-check,
.widget.change-email .form-check {
  margin-bottom: 25px;
}

.widget.personal-info .form-check .form-check-label input,
.widget.change-password .form-check .form-check-label input,
.widget.change-email .form-check .form-check-label input {
  margin-right: 7px;
}

.widget.personal-info button,
.widget.change-password button,
.widget.change-email button {
  margin-top: 5px;
  margin-bottom: 10px;
}
.widget .widget-header {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.widget {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.widget.personal-info .form-group,
.widget.change-password .form-group,
.widget.change-email .form-group {
  margin-bottom: 25px;
}

.widget.personal-info .form-group i,
.widget.change-password .form-group i,
.widget.change-email .form-group i {
  color: white;
  background: #5672f9;
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 15px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .widget.personal-info .form-group i,
  .widget.change-password .form-group i,
  .widget.change-email .form-group i {
    margin-bottom: 20px;
  }
}

.widget.personal-info .form-check,
.widget.change-password .form-check,
.widget.change-email .form-check {
  margin-bottom: 25px;
}

.widget.personal-info .form-check .form-check-label input,
.widget.change-password .form-check .form-check-label input,
.widget.change-email .form-check .form-check-label input {
  margin-right: 7px;
}

.widget.personal-info button,
.widget.change-password button,
.widget.change-email button {
  margin-top: 5px;
  margin-bottom: 10px;
}
