<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div
          class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
        >
          <div class="login-brand"></div>

          <div class="card card-primary">
            <div class="card-header">
              <h4>Đăng nhập</h4>
              <img
                src="assets/img/stisla-fill.svg"
                alt="logo"
                width="50"
                class="shadow-light rounded-circle ml-auto"
              />
            </div>

            <div class="card-body">
                <div>
                    <span *ngIf="loginFailed" class="text-danger">
                        Email hoặc mật khẩu không chính xác!
                    </span>
                </div>
              <form
                (ngSubmit)="login(form)"
                #form="ngForm"
                class="needs-validation"
              >
                <div class="form-group">
                  <label for="email">Tài khoản</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    tabindex="1"
                    required
                    autofocus
                    ngModel
                    value="admin@admin.test"
                  />
                  <div class="invalid-feedback">Vui lòng nhập email</div>
                </div>

                <div class="form-group">
                  <div class="d-block">
                    <label for="password" class="control-label">Mật khẩu</label>
                    <div class="float-right">
                      <a href="auth-forgot-password.html" class="text-small">
                        Quên mật khẩu?
                      </a>
                    </div>
                  </div>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    tabindex="2"
                    required
                    value="password"
                    ngModel
                  />
                  <div class="invalid-feedback">Vui lòng nhập mật khẩu</div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      name="remember"
                      class="custom-control-input"
                      tabindex="3"
                      id="remember-me"
                    />
                    <label class="custom-control-label" for="remember-me"
                      >Nhớ mật khẩu</label
                    >
                  </div>
                </div>

                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                    tabindex="4"
                  >
                    Đăng nhập
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="simple-footer">Copyright &copy; Stisla 2018</div>
        </div>
      </div>
    </div>
  </section>
</div>
