<p-toolbar styleClass="py-2 mb-1">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      type="button"
      icon="fa fa-plus"
      label="Thêm hình ảnh"
      class="p-button-sm mr-1 my-1"
      (click)="displayAddDialog = true"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="fa fa-trash"
      label="Xóa ảnh trùng lặp"
      class="p-button-sm p-button-success mr-1 my-1"
      (click)="deleteDuplicatedImage()"
    ></button>
  </ng-template>
  <ng-template pTemplate="right">
    <form (submit)="searchBlob(search.value)" class="p-inputgroup my-1">
      <span class="p-inputgroup-addon"> <i class="pi pi-search"></i></span>
      <input
        pInputText
        type="text"
        #search
        placeholder="Từ khóa tìm kiếm..."
        class="w-100"
      />
      <button pButton type="submit" label="Tìm"></button>
    </form>
  </ng-template>
</p-toolbar>
<p-dataView
  #dv
  [totalRecords]="totalRecords"
  [value]="blobs"
  [lazy]="true"
  (onLazyLoad)="loadBlob($event)"
  [rows]="12"
  [rowsPerPageOptions]="[12, 16, 24]"
  [paginator]="true"
  emptyMessage="Không có hình ảnh được lưu trữ"
  paginatorDropdownAppendTo="body"
  layout="grid"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Đang hiển thị từ {first} đến {last} của {totalRecords} hình ảnh"
>
  <ng-template let-blob pTemplate="gridItem">
    <div class="col-12 col-md-4 col-lg-2 col-sm-6 my-2">
      <div
        class="h-100 d-flex justify-content-between flex-column border rounded"
      >
        <p-image
          appendTo="body"
          class="mx-auto h-100"
          [src]="blob.file_path | filePath"
          [alt]="blob.name"
          [preview]="true"
          imageClass="h-100 mw-100 of-contain"
          styleClass="h-100 mw-100"
        ></p-image>
        <div>
          <strong
            class="d-block text-center"
            style="overflow: hidden; text-overflow: ellipsis"
            [pTooltip]="blob.name"
            >{{ blob.name }}</strong
          >
          <div class="d-flex justify-content-between">
            <button
              pButton
              pRipple
              icon="fas fa-plus"
              class="p-1 p-button-sm p-button-success"
              (click)="duplicate(blob)"
              pTooltip="Nhân bản ảnh"
            ></button>
            <button
              pButton
              pRipple
              icon="far fa-edit"
              class="p-button-sm"
              (click)="showEditDialog(blob)"
              pTooltip="Chỉnh sửa ảnh"
            ></button>
            <button
              (click)="delete(blob)"
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-sm p-button-danger"
              pTooltip="Xóa ảnh"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

<p-dialog
  header="Thêm ảnh vào kho lưu trữ"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [(visible)]="displayAddDialog"
>
  <div class="card">
    <div class="p-fluid">
      <div class="p-field">
        <h5>Tên ảnh</h5>
        <input
          [(ngModel)]="fileName"
          [class.disabled]="uploadedFiles.length > 1"
          type="text"
          name="file-name"
          id="file-name"
          pInputText
        />
      </div>
    </div>
    <h5>Chọn ảnh để tải lên</h5>
    <p-fileUpload
      #file
      [multiple]="true"
      accept="image/*"
      [maxFileSize]="1000000"
      chooseLabel="Chọn"
      [showUploadButton]="false"
      [showCancelButton]="false"
      (onSelect)="onSelect(file.files)"
      cancelb
    >
    </p-fileUpload>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      icon="fa fa-plus"
      label="Tải lên"
      class="p-button-sm mr-1 my-1"
      (click)="upload()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="fas fa-times "
      label="Hủy"
      class="p-button-sm mr-1 my-1 p-button-warning"
      (click)="file.clear(); displayAddDialog = false"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Chỉnh sửa hình ảnh"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [(visible)]="displayEditDialog"
>
  <div class="card">
    <div class="p-fluid">
      <div class="p-field">
        <h5>Tên ảnh</h5>
        <input
          [(ngModel)]="fileName"
          [class.disabled]="uploadedFiles.length > 1"
          type="text"
          name="file-name"
          id="file-name"
          pInputText
        />
      </div>
      <!-- <input
        *ngIf="selectedBlob"
        (change)="onFileChange($event)"
        type="file"
        value="C:\Users\phamp\Downloads"
      /> -->
      <div class="p-field">
        <h5>Hình ảnh</h5>
        <image-cropper
          [imageBase64]="base64Image"
          [maintainAspectRatio]="false"
          (imageCropped)="imageCropped($event)"
          format="png"
          [aspectRatio]="10 / 13"
          [containWithinAspectRatio]="true"
        >
        </image-cropper>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      icon="fa fa-plus"
      label="Tải lên"
      class="p-button-sm mr-1 my-1"
      (click)="saveChange()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="fas fa-times "
      label="Hủy"
      class="p-button-sm mr-1 my-1 p-button-warning"
      (click)="displayEditDialog = false"
    ></button>
  </ng-template>
</p-dialog>
