<p-toolbar styleClass="py-2 mb-1">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      type="button"
      icon="fa fa-plus"
      label="Thêm sản phẩm"
      class="p-button-sm mr-1 my-1"
      (click)="showAddDialog()"
    ></button>
  </ng-template>
  <ng-template pTemplate="right">
    <form
      (submit)="dt.filterGlobal(search.value, 'contains')"
      class="p-inputgroup my-1"
    >
      <span class="p-inputgroup-addon"> <i class="pi pi-search"></i></span>
      <input
        pInputText
        type="text"
        #search
        placeholder="Từ khóa tìm kiếm..."
        class="w-100"
      />
      <button pButton type="submit" label="Tìm"></button>
    </form>
  </ng-template>
</p-toolbar>
<p-table
  #dt
  [value]="products"
  [lazy]="true"
  (onLazyLoad)="loadProducts($event)"
  responsiveLayout="stack"
  dataKey="id"
  [selection]="selectedProducts"
  [selectAll]="selectAll"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 15, 25]"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [globalFilterFields]="['name']"
  breakpoint="992px"
>
  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th class="d-lg-table-cell d-none"></th>
      <th>STT</th>
      <th pSortableColumn="name">
        Tên sản phẩm <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Ảnh</th>
      <th>Khoảng giá</th>
      <th pSortableColumn="quantity">
        Số lượng <p-sortIcon field="quantity"></p-sortIcon>
      </th>
      <th pSortableColumn="created_at">
        Thời gian tạo<p-sortIcon field="created_at"></p-sortIcon>
      </th>
      <th style="width: 7rem"></th>
    </tr>
  </ng-template>
  <!-- Body -->
  <ng-template
    pTemplate="body"
    let-product
    let-index="rowIndex"
    let-expanded="expanded"
  >
    <tr>
      <td class="d-lg-table-cell d-none">
        <button
          type="button"
          pButton
          (click)="chosingDefaultImage = chosingDefaultImage && expanded"
          pRipple
          [pRowToggler]="product"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td><span class="p-column-title">STT</span>{{ index + 1 }}</td>
      <td>
        <span class="p-column-title">Tên sản phẩm</span>{{ product.name }}
      </td>
      <td>
        <span class="p-column-title">Ảnh</span>
        <p-image
          [preview]="true"
          *ngIf="product.image"
          height="50"
          [src]="product.image.file_path | filePath"
          appendTo="body"
        >
        </p-image>
      </td>
      <td>
        <span class="p-column-title">Khoảng giá</span
        >{{ product.min_price | currency: "VND"
        }}<span *ngIf="product.min_price != product.max_price">
          - {{ product.max_price | currency: "VND" }}</span
        >
      </td>
      <td>
        <span class="p-column-title">Số lượng</span
        >{{ product.quantity | number }}
      </td>
      <td>
        <span class="p-column-title">Thời gian tạo</span
        >{{ product.created_at | date: "dd/MM/yyyy" }}
      </td>
      <td>
        <div class="d-flex justify-content-between w-100">
          <button
            type="button"
            pButton
            pRipple
            (click)="chosingDefaultImage = chosingDefaultImage && expanded"
            [pRowToggler]="product"
            class="p-button-text p-button-rounded p-button-plain d-lg-none"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
          <button
            [routerLink]="[product.id]"
            pButton
            pRipple
            icon="pi pi-info-circle"
            class="p-button p-button-success p-button-sm p-button-rounded mr-1"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="far fa-edit"
            class="p-button-rounded p-button-sm mr-1"
            (click)="showEditDialog(product)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="far fa-trash-alt"
            class="p-button-rounded p-button-danger p-button-sm"
            (click)="delete(product)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product>
    <tr>
      <td colspan="10">
        <div class="p-fluid">
          <div class="row">
            <div class="my-1 p-field col-md-7 col-12">
              <strong>Code</strong>
              <input
                type="text"
                readonly
                [ngModel]="product.code"
                name="product-code"
                id="code"
                pInputText
              />
            </div>
            <div class="my-1 p-field col-md-3 col-sm-6 col-8">
              <strong>Số chi tiết</strong>
              <input
                type="text"
                readonly
                [ngModel]="product.option_count"
                id="code"
                pInputText
              />
            </div>
            <div class="my-1 p-field col-md-2 col-sm-6 col-4">
              <label class="mr-3">
                <strong>Hiển thị</strong>
              </label>
              <div style="height: 50px" class="d-flex align-items-center">
                <p-inputSwitch
                  [readonly]="true"
                  id="visible"
                  [(ngModel)]="product.visible"
                ></p-inputSwitch>
              </div>
            </div>
            <div class="my-1 p-field col-md-6 col-12">
              <strong>Loại sản phẩm</strong>
              <input pInputText readonly [ngModel]="product?.category?.name" />
            </div>
            <div class="my-1 p-field col-md-6 col-12">
              <strong>Nhà cung cấp</strong>
              <input pInputText readonly [ngModel]="product?.provider?.name" />
            </div>
            <div class="my-1 p-field col-12">
              <strong>Loại lựa chọn</strong>
              <app-product-option-table
                [options]="product.options"
                [readonly]="true"
              ></app-product-option-table>
            </div>
          </div>
          <div class="my-1 p-field">
            <strong>Mô tả ngắn</strong>
            <div
              class="ql-editor"
              [innerHTML]="product.short_description | sanitizer"
            ></div>
          </div>
          <div class="my-1 p-field">
            <strong>Mô tả</strong>
            <div
              class="ql-editor"
              [innerHTML]="product.description | sanitizer"
            ></div>
          </div>
          <div class="p-field my-1">
            <strong>Ảnh sản phẩm</strong>
            <div class="d-flex" style="overflow-x: auto">
              <div
                *ngFor="let image of product.images"
                class="mx-1 image-block border rounded"
              >
                <p-image
                  appendTo="body"
                  width="150"
                  [src]="image.blob.file_path | filePath"
                  [alt]="image.blob.name"
                  [preview]="true"
                  #imagePreview
                >
                </p-image>
                <div>
                  <div class="d-flex justify-content-between">
                    <button
                      *ngIf="!chosingDefaultImage"
                      (click)="deleteFile(image)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-sm p-button-rounded p-button-danger"
                    ></button>
                    <button
                      *ngIf="chosingDefaultImage"
                      (click)="setDefaultImage(product, image.blob)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-check"
                      class="p-button-sm p-button-rounded p-button-success"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <div class="ml-auto">
                <button
                  (click)="chosingDefaultImage = !chosingDefaultImage"
                  pButton
                  pRipple
                  class="p-button-sm p-button-outlined"
                  [label]="
                    chosingDefaultImage ? 'Hoàn tất' : 'Chọn ảnh đại diện'
                  "
                ></button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [draggable]="true"
  [resizable]="true"
  [maximizable]="true"
  appendTo="body"
  [header]="(displayAddDialog ? 'Thêm' : 'Sửa') + ' sản phẩm'"
  [(visible)]="formVisible"
  styleClass="p-fluid"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <div class="p-field">
    <label for="name"><strong>Tên sản phẩm</strong></label>
    <input
      type="text"
      [(ngModel)]="product.name"
      name="product-name"
      id="name"
      pInputText
    />
  </div>
  <div class="row">
    <div class="p-field col-md-8 col-12">
      <label for="code"><strong>Code</strong></label>
      <input
        type="text"
        [(ngModel)]="product.code"
        name="product-code"
        id="code"
        pInputText
      />
    </div>
    <div class="p-field col-md-4 col-12">
      <label class="mr-3">
        <strong>Hiển thị</strong>
      </label>
      <div style="height: 50px" class="d-flex align-items-center">
        <p-inputSwitch
          id="visible"
          [(ngModel)]="product.visible"
        ></p-inputSwitch>
      </div>
    </div>
  </div>
  <div class="p-field">
    <label><strong>Loại sản phẩm</strong></label>
    <p-dropdown
      [options]="categories"
      optionValue="id"
      optionLabel="name"
      [virtualScroll]="true"
      [filter]="true"
      filterBy="name"
      [(ngModel)]="product.category_id"
      [showClear]="true"
      emptyMessage="Không có loại sản phẩm"
      emptyFilterMessage="Không có loại sản phẩm"
      placeholder="Loại sản phẩm"
      appendTo="body"
    >
    </p-dropdown>
  </div>
  <div class="p-field">
    <label><strong>Nhà cung cấp</strong></label>
    <p-dropdown
      [options]="providers"
      optionValue="id"
      optionLabel="name"
      [virtualScroll]="true"
      [filter]="true"
      filterBy="name"
      [(ngModel)]="product.provider_id"
      [showClear]="true"
      emptyMessage="Không có nhà cung cấp"
      emptyFilterMessage="Không có nhà cung cấp"
      appendTo="body"
      placeholder="Nhà cung cấp"
    >
    </p-dropdown>
  </div>
  <div class="p-field">
    <label><strong>Mô tả ngắn</strong></label>
    <editor
      *ngIf="formVisible"
      [(ngModel)]="product.short_description"
      apiKey="rglayxcy5hcrxaw5dxmaqlj6dq62qkwingzm05qh0b1snnur"
      initialValue=""
      cloudChannel="6"
      plugins=""
      toolbar=""
      [init]="{
        base_url: 'tinymce',
        suffix: '.min',
        height: 300,
        menubar: true,
        plugins: [
          'advlist',
          'autolink',
          'lists',
          'link',
          'charmap',
          'preview',
          'anchor',
          'codesample',
          'searchreplace',
          'visualblocks',
          'code',
          'fullscreen',
          'image',
          'insertdatetime',
          'media',
          'table',
          'code',
          'help',
          'wordcount'
        ],
        codesample_languages: [
          { text: 'TypeScript', value: 'typescript' },
          { text: 'JavaScript', value: 'javascript' },
          { text: 'HTML/XML', value: 'markup' },
          { text: 'CSS', value: 'css' }
        ],
        toolbar:
          'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'
      }"
    >
    </editor>
  </div>
  <div class="p-field">
    <label><strong>Mô tả sản phẩm</strong></label>
    <editor
      *ngIf="formVisible"
      [(ngModel)]="product.description"
      apiKey="rglayxcy5hcrxaw5dxmaqlj6dq62qkwingzm05qh0b1snnur"
      initialValue=""
      cloudChannel="6"
      plugins=""
      toolbar=""
      [init]="{
        base_url: 'tinymce',
        suffix: '.min',
        height: 500,
        menubar: true,
        plugins: [
          'advlist',
          'autolink',
          'lists',
          'link',
          'charmap',
          'preview',
          'anchor',
          'codesample',
          'searchreplace',
          'visualblocks',
          'code',
          'fullscreen',
          'image',
          'insertdatetime',
          'media',
          'table',
          'code',
          'help',
          'wordcount'
        ],
        codesample_languages: [
          { text: 'TypeScript', value: 'typescript' },
          { text: 'JavaScript', value: 'javascript' },
          { text: 'HTML/XML', value: 'markup' },
          { text: 'CSS', value: 'css' }
        ],
        toolbar:
          'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'
      }"
    >
    </editor>
  </div>
  <div class="p-field">
    <div class="d-flex">
      <strong>Các lựa chọn</strong>
      <form
        (ngSubmit)="addNewOption(optionName.value); optionName.value = ''"
        class="ml-auto p-inputgroup w-auto"
      >
        <input type="text" pInputText #optionName placeholder="Tên lựa chọn" />
        <button
          class="p-button-sm"
          pButton
          pRipple
          [disabled]="!optionName.value"
          label="Thêm"
          icon="fas fa-plus"
        ></button>
      </form>
    </div>
    <app-product-option-table
      [(options)]="options"
      [deletable]="displayAddDialog"
    >
    </app-product-option-table>
  </div>
  <div class="p-field my-1">
    <strong>Ảnh sản phẩm</strong>
    <p-tabView [(activeIndex)]="tabActiveIndex">
      <p-tabPanel header="Tải lên">
        <p-fileUpload
          #fileUpload
          [multiple]="true"
          chooseLabel="Chọn ảnh"
          cancelLabel="Hủy"
          accept="image/*"
        >
        </p-fileUpload>
      </p-tabPanel>
      <p-tabPanel header="Có sẵn">
        <app-file-table
          *ngIf="tabActiveIndex == 1"
          [(selection)]="selectedFiles"
        ></app-file-table>
      </p-tabPanel>
    </p-tabView>
    <!-- <input
      type="file"
      accept="image/*"
      id="file"
      class="d-none"
      multiple
      (input)="fileInput($event.currentTarget)"
    />
    <div class="d-flex" style="overflow-x: auto">
      <div
        *ngFor="let image of newImages"
        class="mx-1 image-block border rounded"
      >
        <button (click)="deleteFile(image)" class="text-danger">
          <i class="far fa-times-circle"></i>
        </button>
        <img height="100px" [src]="image.URL" />
      </div>
    </div> -->
  </div>
  <ng-template pTemplate="footer">
    <button
      *ngIf="displayAddDialog"
      pButton
      pRipple
      icon="fas fa-check"
      class="p-button-success p-button-sm"
      label="Thêm"
      type="button"
      (click)="add()"
    ></button>
    <button
      *ngIf="displayEditDialog"
      pButton
      pRipple
      icon="fas fa-check"
      class="p-button-success p-button-sm"
      label="Lưu"
      type="button"
      (click)="save()"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-danger p-button-sm"
      label="Hủy"
      type="button"
      (click)="formVisible = false; nameInvalid = false"
    ></button>
  </ng-template>
</p-dialog>
